
/* Шапка
=========================*/

.dd-top-header{
	padding: 60px 53px;
	text-align:center;
	position: relative;
	outline:1px solid red;
}
.dd-logo{
	img{
		margin: 0 auto;
	}
}
.dd-element_style{
	color: #333;
	font-family: 'SegoeWP-Semibold';
	font-size: 10px;
}
.dd-tel-style{
	color: #333;
	font-size: 10px;
	font-family: 'SegoeWP-Bold';
}
.dd-ico{
	position:absolute;
	right: 9px;
	top:60px;
	display: inline-block;
	cursor:pointer;
}
.dd-dis-none{
	display:none;
}
.dd-min-menu-wrap{
	padding: 40px;
	position:absolute;
	right:10px;
	top:12px;
	border:2px solid #2D55F3;
	text-align:center;
	z-index:999;
	background: #fff;
	display:none;
	position:fixed;
	li{
		text-align: center;
		a{
			font-family: 'SegoeWP-Bold';
			text-transform: uppercase;
			font-size: 10px;
			color:#333333;
		}
		a:hover{
			color:#1C48F3;
		}
	}
}
.dd-close{
	position:relative;
	.dd-position-close{
		cursor: pointer;
		position:absolute;
		right: -30px;
		top:-34px;
	}
}

//Контент шапки
.dd-contnet-header{
	max-width:650px;
	margin: 0 auto;
} 
.dd-content-header-txt{
	span:first-child{
		font-family: 'SegoeWP-Black';
		font-size: 23px;
	}
}
















@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
	

}

@media only screen and (min-width : 992px) {

}

@media only screen and (min-width : 1248px) {
	.dd-element{
		float: left;
	}
	.dd-element-padding{
		padding-left: 58px;
	}
	.dd-element-padding-2{
		padding-left: 38px;
	}
	.dd-menu-element{
		float: right;
		.dd-element_style{
			margin-right: 65px;
		}
	}
	.dd-dis-none{
		display:block;
	}
	.dd-ico{
		right:55px;
	}
	.dd-padding-top{
		padding-top: 7px;
	}
	.dd-min-menu-wrap{
		width:350px;
		padding-top: 200px;
		padding-bottom: 160px;
	}
	.dd-close{
		.dd-position-close{
			right:-24px;
			top:-172px;
		}
	}
	.ml-tel{
		padding-left: 250px;
	}
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //outline: 5px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {

}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
}