
/* Шапка
=========================*/

.dd-top-header{
	padding: 60px 53px;
	text-align:center;
	position: relative;
	outline:1px solid red;
}
.dd-logo{
	img{
		margin: 0 auto;
	}
}
.dd-element_style{
	color: #333;
	font-family: 'SegoeWP-Semibold';
	font-size: 10px;
}
.dd-element-padding{
	padding-left: 58px;
}
.dd-element-padding-2{
	padding-left: 38px;
}
.dd-tel-style{
	color: #333;
	font-size: 10px;
	font-family: 'SegoeWP-Bold';
}
.dd-ico{
	position:absolute;
	right:55px;
	top:60px;
	display: inline-block;
	outline:1px solid red;
}





















@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {

	.dd-element{
		float: left;
	}
}

@media only screen and (min-width : 992px) {
}

@media only screen and (min-width : 1248px) {
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //outline: 5px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {

}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
}