
/* Шапка
=========================*/

.dd-top-header{
	padding: 60px 53px;
	text-align:center;
	position: relative;
	width: 100%;
	background-size: cover; 
}
.dd-element{
	float:left;
}
.dd-logo{
	img{
		margin: 0 auto;
	}
}
.dd-element_style{
	color: #333;
	font-family: 'SegoeWP-Semibold';
	font-size: 17px;
}
.dd-tel-style{
	color: #333;
	font-size: 17px;
	font-family: 'SegoeWP-Bold';
}
.dd-ico{
	position:absolute;
	right: 9px;
	top:60px;
	display: inline-block;
	cursor:pointer;
}
.dd-dis-none{
	display:none;
}
.dd-min-menu-wrap{
	padding: 40px;
	position:absolute;
	right:10px;
	top:12px;
	border:2px solid #2D55F3;
	text-align:center;
	z-index:999;
	background: #fff;
	display:none;
	position:fixed;
	li{
		text-align: center;
		a{
			font-family: 'SegoeWP-Bold';
			text-transform: uppercase;
			font-size: 16px;
			color:#333333;
		}
		a:hover{
			color:#1C48F3;
		}
	}
}
.dd-close{
	position:relative;
	.dd-position-close{
		cursor: pointer;
		position:absolute;
		right: -30px;
		top:-34px;
	}
}

//Контент шапки
.dd-contnet-header{
	position:relative;
	max-width:518px;
	margin: 0 auto;
} 
.dd-content-header-txt{
	text-align:center;
	margin-top: 100px;
	padding-bottom: 25px;
	span:first-child{
		font-family: 'SegoeWP-Black';
		font-size: 23px;
	}
	span:last-child{
		font-family: 'SegoeWP';
		font-size: 13px;
	}
}

// Кнопки
.dd-header-button{
	padding-bottom: 25px;
	text-align:center;
	a{
		margin-left: -20px;
		display: inline-block;
		font-family: 'SegoeWP-Semibold';
		font-size: 20px;
		border: 2px solid #ccc;
		border-radius: 31px;
		width: 235px;
		padding-top: 17px;
		padding-bottom: 17px;
		text-transform: uppercase;
		color: #333;
	}
	a:hover{
		border:2px solid #1C48F3;
		background: #1C48F3;
		color:#fff;
	}
	.active{
		border:2px solid #1C48F3;
		background: #1C48F3;
		color:#fff;
	}
}
.dd-f1-wrap{
	display:none;
}
.dd-f2-wrap{
	display:none;
}

/* Внутренняя
===============================*/

// шапка
.dd-inner-wrap{
	background: url(../img/inner-bg.jpg) no-repeat top center;
	padding-top: 60px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 140px;
	margin-bottom: 76px;
}
.dd-logo-inner{
	float:left;
	img{
		margin: 0 auto;
	}
}
.dd-menu-inner{
	float:right;
}
.dd-inner-menu-txt{
	display:none;
	float:left;
	span{
		padding-right: 15px;
		display: inline-block;
		font-family: 'SegoeWP-SemiLight';
		color:#fff;
		font-size: 15px;
	}
}
.dd-ico3{
	cursor:pointer;
	margin-top: -80px;
	// padding-right: 53px;
	float:right;
}

.button-inner{
	text-align:center;
	a{
		border: 2px solid white;
		border-radius: 31px;
		color:#fff;
		font-family: 'SegoeWP-Semibold';
		text-transform: uppercase;
		font-size: 16px;
		display: inline-block;
		padding: 15px 10px;
		// padding: 21px 53px;
	}
	a:hover{
		background: #fff;
		color:#1C48F3;
	}
}
.dd-inner-content{
	text-align:center;
	padding-bottom: 62px;
	padding-top: 142px;
	span{
		display: inline-block;
	}
	span:first-child{
		// font-size: 34px;
		font-size: 24px;
		color:#fff;
		font-family: 'SegoeWP-Black';
	}
	span:last-child{
		font-size: 20px;
		color:#fff;
		font-family: 'SegoeWP';
	}
}

// контент
.dd-inner-txt-wrap{
	text-align:center;
}
.dd-title{
	span{
		font-family: 'SegoeWP';
		font-size:19px;
		color:#333333;
	}
}
.dd-title-next{
	margin-bottom: 22px;
	a{
		display: inline-block;
		color:#333333;
		font-family: 'SegoeWP-Bold';
		font-size: 32px;
		text-transform: uppercase;
		position:relative;
		padding-bottom: 27px;
	}
	a:after{
		content: "";
		position:absolute;
		width: 50px;
		border-bottom:2px solid #FE918C;
		bottom:0;
		left:0;
	}
	a:hover:after{
		width: 100%;
		transition: 0.7s;
	}
}
.dd-txt{
	span{
		display: inline-block;
	}
	span:first-child{
		font-family: 'SegoeWP';
		font-size: 26px;
		color:#333;
		padding-bottom: 43px;
	}
	span:last-child{
		font-family: 'SegoeWP';
		font-size: 20px;
		color:#333;
		padding-bottom: 25px;
	}
}
.dd-box{
	margin-bottom: 128px;
}
.dd-zagruzit{
	text-align:center;
	a{
		display: inline-block;
		font-family: 'SegoeWP-Semibold';
		text-transform: uppercase;
		font-size: 20px;
		color:#333;
		padding-right: 55px;
		background: url(../img/strelka.png) no-repeat right center;
	}
}

// Кнопка Наверх
#toTop {
padding:5px;
position:fixed;
bottom:10px; /* отступ кнопки от нижнего края страницы*/
right:20px;
cursor:pointer;
display:none;
z-index:9999;
}


@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
	.dd-inner-wrap{
		padding-left: 64px;
		padding-right: 64px;
		padding-bottom: 140px;
		margin-bottom: 176px;
	}
	.dd-header-button{
		a{
			margin-left: 0;
		}
	}
	.dd-ico3{
		cursor:pointer;
		margin-top: unset;
		padding-right: 53px;
		float:right;
	}
	.dd-inner-menu-txt{
		display:block;
	}
	.button-inner{
		a{
			padding: 21px 53px;
		}
	}
}

@media only screen and (min-width : 768px) {
	.dd-header-button{
		float:left;
	}
	.dd-content-header-txt{
		text-align: left;
		span:first-child{
			font-size: 35px;
		}
		span:last-child{
			font-size: 20px;
		}
	}
	.dd-header-button2{
		margin-left: 36px;
	}	
}

@media only screen and (min-width : 992px) {

}

@media only screen and (min-width : 1248px) {
	.dd-inner-main-wrap{
		position:relative;
		height: 578px;
		.dd-inner-img{
			float: right;
			z-index: 10;
			margin-right: -55px;
		}
		.dd-inner-img2{
			float: left;
			z-index: 10;
			margin-left: -55px;
		}
		.dd-title{
			padding-bottom: 19px;
		}
		.dd-inner-txt-wrap{
			// float: left;
			padding-top: 136px;
			position:absolute;
			left: 0;
			top:0;
			text-align: left;
			width: 482px;
			// outline: 1px solid red;
			z-index: 9999;
		}
		.dd-inner-txt-wrap2{
			padding-top: 136px;
			position:absolute;
			right: 0 !important;
			top:0;
			text-align: right;
			width: 482px;
			z-index: 9999;
		}
	}
	.dd-txt{
		span:last-child{
			display: block;
			position:relative;
			width: 397px;
		}
		span:last-child:after{
			content:"";
			position:absolute;
			background: url(../img/strel.png) no-repeat;
			width: 19px;
			height: 13px;
			right:0;
			bottom:30px;
		}
	}
	.dd-txt2{
		span:last-child{
			display: block;
			position:relative;
			width: 397px;
		}
		span:last-child:after{
			content:"";
			position:absolute;
			background: url(../img/strel.png) no-repeat;
			width: 19px;
			height: 13px;
			left:0;
			bottom:30px;
		}
	}
	////////
	.dd-element-padding{
		padding-left: 60px;
	}
	.dd-contnet-header{
		max-width:1159px;
		height: 545px;
	}
	.dd-min-menu-wrap{
		border:none;
	}
	.dd-top-header{
		background: url(../img/bigger.jpg) no-repeat top center;
		background-size:cover; 
	}
	.dd-menu-element{
		float: right;
		.dd-element_style{
			margin-right: 65px;
			color:#fff;
		}
	}
	.dd-dis-none{
		display:block;
	}
	.dd-padding-top{
		padding-top: 7px;
	}
	.dd-min-menu-wrap{
		width:350px;
		padding-top: 200px;
		padding-bottom: 160px;
		z-index: 9999;
	}
	.dd-close{
		.dd-position-close{
			right:-14px;
			top:-21px;
		}
	}
	.ml-tel{
		// padding-left: 250px;
		margin-right: 26px;
	}
	.dd-content-header-txt{
		margin-top: 253px;
	}
	.dd-content-header-txt{
		padding-bottom: 59px;
		position:relative;
		span:first-child{
			font-size: 45px;
		}
		span:last-child{
			font-size: 25px;
		}

	}
	.dd-all-none{
		display: none;
	}
	.dd-ico{
		display: none;
	}
	.dd-ico2{
		display: block;
		position:absolute;
		right:55px;
		top:60px;
		display: inline-block;
		cursor:pointer;
	}
	.dd-f1-wrap{
		position:absolute;
		background: url(../img/f1.png) no-repeat top center;
		width: 247px;
		height: 200px;
		z-index: 10;
		top:-65px;
		left:-140px;
		display:block;
	}
	.dd-z-index{
		z-index:999;
	}
	.dd-f2-wrap{
		position:absolute;
		display:block;
		left:0;
		bottom:-186px;
	}
	.dd-tel-style{
		color:#fff;
		span{
			display: inline-block;
			background: url(../img/mini.png) no-repeat left center;
			margin-left: 280px;
			padding-left: 20px;
		}
	}
}
.pl-none{
	padding-left: 0px !important;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //outline: 5px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {

}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
}