@import "reset.css";
@import "style.css";
@import "style2.css";
@import "style3.css";
@import "style4.css";
@import "fonts.css";

.clearfix::after{
 clear: both;
 content: "";
 display: table;
}

.portfolio{
	padding-bottom: 50px;
	max-width: 1600px;
	margin: 0 auto;
	&__slider{
		position: relative;
		&::before{
			content: "";
			background: #fbeff1;
			width: 630px;
			height: 470px;
			position: absolute;
			right: 160px;
			top: 200px;
		}
	}
	.slide{
		&-wrap{
			width: 1070px;
			margin: 0 auto;
			outline: none;
			position: relative;
		}
		&__img{
			width: 1000px;
			height: 508;
			padding: 50px 0;
			&-photo{
				width: 100%;
				min-height: 100%;
				height: auto;
				display: block;
			}
		}
		.text{
			color: #333;
			border: 6px solid #1c48f3;
			padding: 50px 60px;
			max-width: 970px;
			margin: 0 auto;
			position: relative;
			&__descr{
				font-size: 20px;
				display: block;
				text-align: center;
				text-transform: capitalize;
				font-family: 'SegoeWP', arial, sans-serif;
				padding-bottom: 20px;
			}
			&__title{
				font-size: 32px;
				text-align: center;
				position: relative;
				font-family: 'SegoeWP-Bold';
				padding-bottom: 20px;
				&::before{
					content:"";
					height: 3px;
					width: 56px;
					background: #fe918c;
					position: absolute;
					left: 50%;
					margin-left: -28px;
					bottom: 0;
				}
			}
			&__in{
				font-family: 'SegoeWP', arial, sans-serif;
				font-size: 26px;
				text-align: center;
				padding: 20px 0;
			} 
			&__about{
				display: block;
				text-align: center;
				font-size: 20px;
				font-family: 'SegoeWP', arial, sans-serif;
			}
			&__link{
				display: block;
				position: absolute;
				width: 40px;
				height: 30px;
				right: 70px;
				bottom: 22px;
				background: url(../img/portfolio-text_ic.png) center no-repeat;
				outline: none;
			}
		}
	}
	&__link{
		text-align: center;
		margin-top: 80px;
		a{
			text-transform: uppercase;
			font-size: 20px;
			color: #333;
			font-family: 'SegoeWP-Semibold';
			display: inline-block;
			padding-right: 50px;
			background:  url(../img/arrow-right.png) center right no-repeat;
		}
	}
	.slick-slide{
		outline: none;
	}
	.slick-arrow{
		border: none;
		color: transparent;
		position: absolute;
		width: 114px;
		height: 114px;
		right: 0;
		top: 50%;
		border-radius: 50%;
		background: #e8ecfe url(../img/arrow-right.png) center no-repeat; 
		z-index: 100;
		outline: none;
	}
	.slick-arrow.slick-prev{
		left: 0;
		right: auto;
		transform: rotate(180deg);
		background: #fbeff1 url(../img/arrow-right.png) center no-repeat; 
	}
	.tooltip{
		color: #fff;
		font-size: 20px;
		background: #1c48f3;
		width: 180px;
		line-height: 35px;
		position: absolute;
		top: -40px !important;
		left: 50% !important;
		text-align: center;
		margin-left: -85px;
		font-family: 'SegoeWP', arial, sans-serif;
	}
	.tooltip::after{
		content: "";
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 9px 6px 0 6px;
		border-color: #1c48f3 transparent transparent transparent;
		position: absolute;
		left: 50%;
		margin-left: -8px;
		bottom: -9px;
		z-index: 0;
	}
}
.approach{
	padding-bottom: 50px;
	max-width: 1600px;
	margin: 0 auto;
	background: url(../img/approach_txt-bg.jpg) 1039px 256px no-repeat;
	&__container{
	max-width: 1200px;
	margin: 0 auto;
	display: table;
	clear: both;
	position: relative;
		&::before{
			content: "S";
			font-size: 900px;
			color: #1c48f3;
			opacity: 0.9;
			position: absolute;
			left: -342px;
			font-family: 'Didot-Bold', serif;
			top: -89px;
		}
	}
	&__img{
		width: 370px;
		height: 370px;
		float: left;
		overflow: hidden;
		&-photo{
			width: 100%;
			height: auto;
			min-height: 100%;
			display: block;
		}
	}
	&__text{
		width: 700px;
		float: left;
		padding: 70px 0 20px 90px;
		background: url(../img/approach_quan.png) 90px 0 no-repeat;
	}
	&__txt{
		color: #333;
		font-size: 26px;
		padding-bottom: 25px;
		font-family: 'SegoeWP';
	}
	&__link{
		display: inline-block;
		width: 41px;
		height: 41px;
		margin-right: 25px;
		background: url(../img/approach_ic.png) 0 0 no-repeat;
		&--inst{
			background-position: -67px 0;
		}
		&--skype{
			background-position: -131px 0;
		}
	}
}

@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
}

@media only screen and (min-width : 1248px) {
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //outline: 5px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
}